* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #857d92;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 450px;
    background: #1d1b26;
    padding: 40px;
    border-radius: 18px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.3);
}

h2 {
    color: white;
    text-align: center;
    font-size: 30px;
    margin-bottom: 5px;
}

.sub {
    text-align: center;
    color: #cfcfcf;
    margin-bottom: 25px;
}

form input {
    width: 100%;
    padding: 14px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #353344;
    background-color: #262533;
    color: white;
    font-size: 15px;
}

form input::placeholder {
    color: #9b9b9b;
}

.dob-label {
    color: #cfcfcf;
    font-size: 14px;
    margin-left: 5px;
}

.dob {
    cursor: pointer;
}

.submit-btn {
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    border: none;
    border-radius: 12px;
    background: #8f3aff;
    color: white;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}

.submit-btn:hover {
    background: #7a2be6;
}
